.modal.openModal{
    width: 100%;
    height: 100vh;
    border: 2px solid yellow;
    position: fixed;
}

.arreglo{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    background-color: rgb(10, 10, 10);
}

.contenedor-titulos-controles h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #fff;
}

.contenedor{
    width: 90%;
    margin: auto;
    margin-top: 200px;
}

.contenedor-principal{
    width: 90%;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    overflow: hidden;
    position: relative;
}

.contenedor-principal button
{
    position: absolute;
    height: 50%;
    background-color: rgb(0,0,0,0.5);
    border: none;
    cursor: pointer;
    transition: .4s ease;
    z-index: 500;
}

.contenedor-principal button:hover{
    background-color: rgb(0,0,0,0.9);
}

.contenedor-principal .flecha-izquierda{
    left: 0;
}


.contenedor-principal .flecha-derecha{
    right: 0;
}
.contenedor-carousel{
    width: 100%;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: hidden;
}

.carousel{
    display: flex;
    width: 100%;
    height: 100%;
}

.pelicula{
    min-width: 20%;
    height: 12vw;
}



.pelicula a img{
    padding: 20px 0px;
    width: 100%;
    height: 100%;
    transition: 1s ease;

}

.pelicula a img:hover{
    transform: scale(1.1);
    transform-origin: center;
}