.modalOff{
    display: none;
}

.modalOn{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.761);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 700;
}

#modal{
    max-width: 60%;
    min-width: 70%;
    max-height: 60%;
    min-height: 70%;
    
    background-color: aliceblue;
    
}

.cerrarModal{
    padding: .6vw;
    margin-top: 1vw;
    border-radius: 40%;
    background-color: rgb(181, 51, 51);
    cursor: pointer;
}

#modal div{
    width: 45%;
    padding-left: 3%;
}

#modal h3{
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
    color: #ededed;
    margin-top: 10%;
    margin-bottom: 5%;
}

#modal p{
    font-size: .9vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ededed;
    font-weight: 600;
    margin-bottom: 10%;
}

.reproducirPelicula,
.configuracionPelicula,
.informacionPelicula{
    display: block;
    width: 70%;
    height: 1.8vw;
    margin-top: 3%;
    border-radius: 8px;
    font-size: 1vw;
    font-weight: 500;
    cursor: pointer;
}

.reproducirPelicula{
    background-color: #5CB85C;
}

.configuracionPelicula{
    background-color: #e06666;
}

.informacionPelicula{
    background-color: #D0C7BC;
}



/* #cont-modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.778);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 900;
}

#modal{
    width: 60%;
    height: 60%;
    background-color: aliceblue;
} */



 /* #cont-modal {
    border: 2px solid;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .85);
    box-shadow: #fff 0px 0px 10px;
    z-index: 400;
    position: fixed;
    display: flex;
}

.contenedor-modal.isOpen {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal {
    border-radius:10px ;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    
}


#modal p {
    font-size: 1vw;
    font-weight: 100;
    width: 50%;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 120%;
    margin-left: 5%;
    margin-bottom: 10px;
}

#modal h3 {
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding-top: 2%;
    font-size: 3vw;
    margin-left: 5%;
    margin-bottom: 10px;
} */

/*
.reproducir,
.configuracion,
.informacion {
    width: 30%;
    height: 2.3vw;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 6px;
    margin-left: 5%;
    margin-bottom: 10px;
    cursor: pointer;
    
}

.contenedor-botones{
    display: flex;
    flex-direction: column;
}

.reproducir div,
.configuracion div,
.informacion div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.reproducir div p,
.configuracion div p,
.informacion div p {
    color: #000;
    text-align: center;
    margin: 0;
    font-size: 1.2vw;
}

.reproducir div img,
.configuracion div img,
.informacion div img {
    height: 50%;
}

.reproducir{
    background-color: rgb(255, 30, 30);
    
}

.reproducir div p{
    font-weight: 500;

}

.cerrar{
    margin-left: 5%;
    width: 2.5vw;
    height: 2.5vw;
    border-radius:50%;
    border: none;
    margin-top: 1%;
    cursor: pointer;
}

.cerrar img{
    width: 70%;
} */